@import url("https://fonts.googleapis.com/css2?=Cinzel:wght@700&family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
