@import url("https://fonts.googleapis.com/css2?=Cinzel:wght@700&family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@keyframes card-jump {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0);
  }
}

.card-hint-jump {
  animation: card-jump 0.4s ease-in-out 3; /* 🔥 3 repeats */
}
